*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

header img{
    margin-top: 30px;
    width: 400px;
    height: 150px;
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}